In [1]:
import pandas as pd
import seaborn as sns
import requests

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
# Now Playing Endpoint
url = "https://api.themoviedb.org/3/movie/now_playing?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4Nzk4M2ZiZTk3Njk4OGE5ZTIyMzMwZWJmMDMwYTFhZSIsIm5iZiI6MTcyNzk3MTk0OS45MTA1MjcsInN1YiI6IjYzNzQyNGMyNDZlNzVmMDA5MGE3YmRhYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ZsTpMVaVlF8ioN3-WiYEatqWmnGQhCKlILQv4Xi6Eec"
}

response = requests.get(url, headers=headers)
response = response.json()
now = pd.DataFrame(response["results"])
now.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/Asg2UUwipAdE87MxtJy7SQo08XI.jpg,"[28, 14, 27, 53, 80]",957452,en,The Crow,Soulmates Eric and Shelly are brutally murdere...,1403.514,/58QT4cPJ2u2TqWZkterDq9q4yxQ.jpg,2024-08-21,The Crow,False,5.400,459
1,False,/wh1IhMWkW7u5c5bkzSGFylF9G8r.jpg,"[28, 80, 53]",1215162,en,Kill 'em All 2,Phillip and Suzanne are retired from the spy g...,1201.354,/hgA5hN3NjNNSTXYOmAI6KNKOzbp.jpg,2024-09-24,Kill 'em All 2,False,7.186,51
2,False,/7h6TqPB3ESmjuVbxCxAeB1c9OB1.jpg,"[878, 27]",933260,en,The Substance,A fading celebrity decides to use a black mark...,1131.940,/lqoMzCcZYEFK729d6qzt349fB4o.jpg,2024-09-07,The Substance,False,7.269,195
3,False,/zAqBIeO71BFL7bAtP5TFzVjVamy.jpg,"[10749, 18]",1079091,en,It Ends with Us,When a woman's first love suddenly reenters he...,1014.814,/cSMdFWmajaX4oUMLx7HEDI84GkP.jpg,2024-08-07,It Ends with Us,False,6.920,615
4,False,/A1dZ6faTjg0e6HYftBmEKujuXGQ.jpg,"[35, 14, 27]",917496,en,Beetlejuice Beetlejuice,"After a family tragedy, three generations of t...",861.066,/kKgQzkUCnQmeTPkyIwHly2t6ZFI.jpg,2024-09-04,Beetlejuice Beetlejuice,False,7.156,764

In [6]:
# Popular

url = "https://api.themoviedb.org/3/movie/popular?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4Nzk4M2ZiZTk3Njk4OGE5ZTIyMzMwZWJmMDMwYTFhZSIsIm5iZiI6MTcyNzk3MTk0OS45MTA1MjcsInN1YiI6IjYzNzQyNGMyNDZlNzVmMDA5MGE3YmRhYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ZsTpMVaVlF8ioN3-WiYEatqWmnGQhCKlILQv4Xi6Eec"
}

response = requests.get(url, headers=headers)
response = response.json()
pop = pd.DataFrame(response["results"])

In [7]:
# Top Rated

url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4Nzk4M2ZiZTk3Njk4OGE5ZTIyMzMwZWJmMDMwYTFhZSIsIm5iZiI6MTcyNzk3MTk0OS45MTA1MjcsInN1YiI6IjYzNzQyNGMyNDZlNzVmMDA5MGE3YmRhYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ZsTpMVaVlF8ioN3-WiYEatqWmnGQhCKlILQv4Xi6Eec"
}

response = requests.get(url, headers=headers)
response = response.json()
top = pd.DataFrame(response["results"])

In [8]:
# Upcoming
url = "https://api.themoviedb.org/3/movie/upcoming?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4Nzk4M2ZiZTk3Njk4OGE5ZTIyMzMwZWJmMDMwYTFhZSIsIm5iZiI6MTcyNzk3MTk0OS45MTA1MjcsInN1YiI6IjYzNzQyNGMyNDZlNzVmMDA5MGE3YmRhYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ZsTpMVaVlF8ioN3-WiYEatqWmnGQhCKlILQv4Xi6Eec"
}

response = requests.get(url, headers=headers)
response = response.json()
up = pd.DataFrame(response["results"])

In [9]:
df = pd.concat([now, pop, top, up])

In [14]:
df.drop_duplicates(subset=['id'], inplace=True)

In [30]:
def get_revenue_budget(df):
    '''
    Uses the movie id to get data from the "Details" endpoint
    returns a dataframe of revenue and budget data
    '''
    data = {
        "id":[],
        "budget": [],
        "revenue": []
    }

    for i in df["id"]:
        data["id"].append(i)
        url = "https://api.themoviedb.org/3/movie/"+str(i)+"?language=en-US"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4Nzk4M2ZiZTk3Njk4OGE5ZTIyMzMwZWJmMDMwYTFhZSIsIm5iZiI6MTcyNzk3MTk0OS45MTA1MjcsInN1YiI6IjYzNzQyNGMyNDZlNzVmMDA5MGE3YmRhYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ZsTpMVaVlF8ioN3-WiYEatqWmnGQhCKlILQv4Xi6Eec"
        }

        response = requests.get(url, headers=headers)
        response = response.json()
        data["budget"].append(response["budget"])
        data["revenue"].append(response["revenue"])
        
    return pd.DataFrame(data)

In [31]:
money_df = get_revenue_budget(df)

In [32]:
money_df.head()

        id     budget    revenue
0   957452   50000000   13690814
1  1215162          0          0
2   933260   17500000   10492678
3  1079091   25000000  334836337
4   917496  100000000  374115014

In [33]:
df = pd.merge(df, money_df, how="inner", on="id")

In [34]:
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,budget,revenue
0,False,/Asg2UUwipAdE87MxtJy7SQo08XI.jpg,"[28, 14, 27, 53, 80]",957452,en,The Crow,Soulmates Eric and Shelly are brutally murdere...,1403.514,/58QT4cPJ2u2TqWZkterDq9q4yxQ.jpg,2024-08-21,The Crow,False,5.400,459,50000000,13690814
1,False,/wh1IhMWkW7u5c5bkzSGFylF9G8r.jpg,"[28, 80, 53]",1215162,en,Kill 'em All 2,Phillip and Suzanne are retired from the spy g...,1201.354,/hgA5hN3NjNNSTXYOmAI6KNKOzbp.jpg,2024-09-24,Kill 'em All 2,False,7.186,51,0,0
2,False,/7h6TqPB3ESmjuVbxCxAeB1c9OB1.jpg,"[878, 27]",933260,en,The Substance,A fading celebrity decides to use a black mark...,1131.940,/lqoMzCcZYEFK729d6qzt349fB4o.jpg,2024-09-07,The Substance,False,7.269,195,17500000,10492678
3,False,/zAqBIeO71BFL7bAtP5TFzVjVamy.jpg,"[10749, 18]",1079091,en,It Ends with Us,When a woman's first love suddenly reenters he...,1014.814,/cSMdFWmajaX4oUMLx7HEDI84GkP.jpg,2024-08-07,It Ends with Us,False,6.920,615,25000000,334836337
4,False,/A1dZ6faTjg0e6HYftBmEKujuXGQ.jpg,"[35, 14, 27]",917496,en,Beetlejuice Beetlejuice,"After a family tragedy, three generations of t...",861.066,/kKgQzkUCnQmeTPkyIwHly2t6ZFI.jpg,2024-09-04,Beetlejuice Beetlejuice,False,7.156,764,100000000,374115014