In [1]:
import pandas as pd
import seaborn as sns

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_json("gme.json")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5600 entries, 0 to 5599
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5600 non-null   datetime64[ns]
 1   Open       5600 non-null   float64
 2   High       5600 non-null   float64
 3   Low        5600 non-null   float64
 4   Close      5600 non-null   float64
 5   Adj Close  5600 non-null   float64
 6   Volume     5600 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 306.4 KB

Date - The day we observed the stock.
Open - The price of the stock the market opens.
High - The highest recorded price of the stock for the day. 
Low - The lowest recorded priice of the stock for the day.
Close - The price of the stock when the market closes.
Adj Close - The adjusted price of a stock when the market closes. 
Volume - The number of the stocks being traded in a single day.

In [4]:
df[df["High"] == df["High"].max()]

           Date   Open    High      Low      Close  Adj Close     Volume
4772 2021-01-28  66.25  120.75  28.0625  48.400002  48.400002  235263200

In [15]:
count = 0
total = 0
for month in range(1, 13):
    for i in range(len(df)):
        if df.loc[i]["Date"].month == month:
            avg = (df.loc[i]["High"] + df.loc[i]["Low"]) / 2
            total += avg
            count += 1
total/count

9.48407867025863

In [17]:
df.loc[0]["Date"].day

13