In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("cats.csv")

In [14]:
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [15]:
df.drop(['Unnamed: 0'], inplace=True, axis=1)

In [25]:
df.head()

           Breed  Age (Years)  Weight (kg)          Color  Gender   ID
0   Egyptian Mau           12            7          White    Male  181
1  Scottish Fold           17            8  Tortoiseshell    Male  907
2         Sphynx            9            9         Orange    Male  732
3       Oriental            6            7           Gray  Female  464
4       Savannah           14            7  Tortoiseshell  Female  451

In [30]:
df.loc[0]["Breed"]

'Egyptian Mau'

In [32]:
df.loc[len(df)] = ["Orange Tabby", 3, 5, "Orange", "Male", len(df)]

In [34]:
df['Weight (lbs)'] = df['Weight (kg)'] * 2.205

In [36]:
df.tail()

,Breed,Age (Years),Weight (kg),Color,Gender,ID,Weight (lbs)
996,Burmese,4,5,Pointed,Female,339,11.025
997,Persian,19,9,Cream,Male,659,19.845
998,Persian,17,3,Bicolor,Female,124,6.615
999,Manx,18,8,Black,Male,226,17.640
1000,Orange Tabby,3,5,Orange,Male,1000,11.025